body {
	margin: 0px;
	background-color: #ffffff;
	overflow-y: scroll;
} 

.modal-open {
	overflow: scroll;
}

.form-inline .form-group {
	display: inline-block;
}

.my-datepicker .btn {
    padding: 4px 8px;
}

.dropdown-menu {
   	left: auto !important;
   	right: 0px;
 }

 .dropdown-menu-typeahead {
	right: auto;
}

.popover {
	top: 0px !important;
}

.arrow {
	top: 20px !important;
}

/*div {
	border-style: solid;
	border-width: medium;
}*/

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.base {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav-bar {
	position: fixed;
	min-height: 40px;
	margin-top: -33px;
	margin-left: 10px;
	margin-right: 10px;
	width: 95%;
	z-index: 1000;
}

.inner-header {

}

.main-view {
	width: 95%;
	margin: 0 auto;
	position: relative;
}

.header-color {
	min-height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff #ffffff #cccccc #ffffff; 
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 700;
}

.left-alignment {
	float: left;
}

.custom-button {
	background-color: #DEDED5;
	display: inline-block;
	cursor: pointer;
	border: none;
    outline:none;
    height: 27px;
    color: #162369;
    margin-left: 13px;
}

.custom-button-menu {
	background-color: #DEDED5;
	display: inline-block;
	cursor: pointer;
	border: none;
    outline:none;
    height: 27px;
    color: #162369;
}

.custom-button-logo {
	background-color: #ffffff;
	display: inline-block;
	cursor: pointer;
	border: none;
    outline: none;
    height: 27px;
    color: #29293D;
    font-size: 20px;
    margin-left: 17px;
}

.custom-logo {
	background-color: #ffffff;
    height: 27px;
    color: #29293D;
    font-size: 20px;
}

.custom-button-logo-2 {
	cursor: pointer;
    height: 27px;
    color: #29293D;
    margin-bottom: 10px;
    font-size: 20px;
}

.custom-button-logo-3 {
    height: 27px;
    color: #75715E;
    margin-bottom: 10px;
}

.custom-label {
	background-color: #ffffff;
	display: inline-block;
	cursor: pointer;
    height: 27px;
    color: #29293D;
    margin-left: 15px;
    white-space :nowrap;
}

.custom-button:hover {
	background-color: #DEDED5;
}

.custom-button-menu:hover {
	background-color: #DEDED5;
}

.custom-button-menu:active {
	position: relative;
}

.custom-button:active {
	position: relative;
}

.custom-button-logo:active {
	position: relative;
}

.custom-button-logo-2:active {
	position: relative;
}


.menu-button {
	background-color: #e4e4e4;
	cursor: pointer;
	border: none;
    outline: none;
    height: 27px;
    color: #29293D;
}

.menu-button:hover {
	background-color: #a3c4f3;
}

.menu-button:active {
	position: relative;
}


.right-alignment {
	float: right;
}

.panels {
	margin-top: 40px;
	width: 100%;
	display: table;
	table-layout: fixed;
}

.panel-cell1 {
	display: table-cell;
	width: 200px;
}

.panel-cell2 {
	display: table-cell;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff #ffffff #ffffff #cccccc;
}

.panel-1 {
	width: 135px;
	margin: 0 auto;
}

.panel-2 {
	width: 100%;
}

.panel-3 {
	
}

.footer {
	height: 20px;
}

.welcome-max-width {
	max-width: 300px;
	align: 'center';
}

.containter-max-width {
	max-width: 500px;
	align: 'center';
}

.grouping-padding {
	padding-top: 15px;
}

.menu-item-base {
	margin-left: 5px;
	margin-top: 16px;
}

.menu-item-base:active {
	position: relative;
}

.containerToday {

}

.right-position {
	position: absolute;
	left: auto;
	right: 0;
}

.bold {
    font-weight: bold;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.modal-backdrop{
opacity: 0;
filter: alpha(opacity=0);
background-color: 'blue'
}

a {
	color: #1A8282;
}

/* unvisited link */
a:link {
    color: #1A8282;
}

/* visited link */
a:visited {
    color: #1A8282;
}

/* mouse over link */
a:hover {
    color: #1A8282;
}

/* selected link */
a:active {
    color: #1A8282;
}

.form-control {
	border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(4, 30, 48, 0.8);
  box-shadow: 0 0px 0px;
  outline: 0 none;
}