<script type="text/ng-template" id="createEditActivityHelp">
        <p>dasdasdasddsds</p> <br/>
        <p> hahahahhaha</p>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
</script>


<div class="modal-header">
    <span style="display: inline-block; width: 50%;">
        <p class="modal-title"><b>{{isCreate? 'Create':'Edit'}} Activity</b></p>
    </span>
    <span style="display: inline-block; text-align:right; width: 48%; ">
        <span tabindex="0" popover-trigger="focus" popover-placement="left" 

            popover-template="'createEditActivityHelp'"


            style="display: inline-block; text-align:right; font-size: 20px;" class="glyphicon glyphicon-question-sign"></span>
        <span style="display: inline-block; text-align:right; ">
            <button class="btn btn-link" ng-click="close()">Close</button>
        </span>
    </span>
</div>
<div class="modal-body" style="margin-left:4px; margin-right:4px;">


    <div class='row grouping-padding'>
            <div  style="max-width: 350px; margin:0px auto;">
                <div>Start:</div> 

                <div>
                    <select style="width:100px; display: inline-block;" class="form-control" ng-model="startSelectOption" ng-options="f for f in startSelectOptions"><option value="" ng-if="false"></option></select>
                    <div ng-show="startSelectOption == 'Date'" class="my-datepicker" style="width:150px; display: inline-block; position: relative; left: auto !important; right: 0px;">
                        <input style="width:110px; display: inline-block;" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtStart" is-open="status.openedStart" max-date="dtStop" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-disabled="true" ng-required="true" close-text="Close" />
                        <button style="display: inline-block; margin-left:3px" type="button" class="custom-button" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                </div>

                <div style="margin-top:5px">Stop:</div>
                <div>
                    <select style="width:100px; display: inline-block;" class="form-control" ng-model="stopSelectOption" ng-options="f for f in stopSelectOptions"><option value="" ng-if="false"></option></select>
                    <div ng-show="stopSelectOption == 'Date'" class="my-datepicker" style="width:150px; display: inline-block; position: relative; left: auto !important; right: 0px;">
                        <input style="width:110px; display: inline-block;" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtStop" is-open="status.openedStop" min-date="dtStart" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-disabled="true" ng-required="true" close-text="Close" />
                        <button style="display: inline-block; margin-left:3px" type="button" class="custom-button" ng-click="openStop($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                </div>

                <div style="margin-top:5px">Title:</div>
                <input type="text" class="form-control" ng-model="title" placeholder="Enter title">

                <div style="margin-top:5px">Info:</div>
                <textarea rows="4" style="width: 100%; resize:none" ng-model="info"></textarea>

                <div style="margin-top:5px">Done:
                <input type="checkbox" ng-model="isDone">
                </div>

                <div style="margin-top:5px">Joinable:
                <input type="checkbox" ng-model="isJoinable">
                </div>

                <hr>
                <div style="margin-top:10px;">
                    <div style="display: inline-block;">Who will see:</div>
                    <select style="width:150px; display: inline-block;" class="form-control" ng-model="seeSelectOption" ng-options="f for f in seeSelectOptions"><option value="" ng-if="false"></option></select>
                </div>

                <div ng-show="seeSelectOption=='Select friends'">
                    <div style="position: relative; left: 0 !important;">
                        <input type="text" typeahead-loading="loadingWhoWillSee" typeahead-no-results="noResultsWhoWillSee" typeahead-on-select="onSelectWhoWillSee($item, $model, $label)" ng-model="whoWillSee" placeholder="Search name or username" typeahead="n as n.first_name + ' ' + n.last_name for n in getWhoWillSee($viewValue) | limitTo:8 " class="form-control">
                    </div>
                    <i ng-show="loadingWhoWillSee" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <div ng-show="noResultsWhoWillSee">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>

                    <span style="width:100px">Selected: </span>
                    <span ng-repeat="f in whoWillSeeItems">
                        <span style="cursor:pointer" ng-click="removeWhoWillSee(f)"> {{'<' + f.first_name + ' ' + f.last_name + '>X'}}</span>
                    </span>
                </div>
                <hr>

                <div ng-show="showAdvanced==false">
                    <div style="margin-top:10px;">
                        <div style="display: inline-block;">Participants:</div>
                    </div>

                    <div style="position: relative; left: 0 !important;">
                        <input type="text" typeahead-loading="loadingParticipants" typeahead-no-results="noResultsParticipants" typeahead-on-select="onSelectParticipants($item, $model, $label)" ng-model="participant" placeholder="Search name or username" typeahead="n as n.first_name + ' ' + n.last_name for n in getParticipants($viewValue) | limitTo:8 " class="form-control">
                    </div>
                    <i ng-show="loadingParticipants" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <div ng-show="noResultsParticipants">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>

                    <span style="width:100px">Selected: </span>
                    <span ng-repeat="f in participantsItems">
                        <span style="cursor:pointer" ng-click="removeParticipants(f)"> {{'<' + f.first_name + ' ' + f.last_name + '>X'}}</span>
                    </span>


                    <hr>

                    <div style="margin-top:10px;">
                        <div style="display: inline-block;">Rights:</div>
                    </div>

                    <div style="position: relative; left: 0 !important;">
                        <input type="text" typeahead-loading="loadingRights" typeahead-no-results="noResultsRights" typeahead-on-select="onSelectRights($item, $model, $label)" ng-model="rightUser" placeholder="Search name or username" typeahead="n as n.first_name + ' ' + n.last_name for n in getRights($viewValue) | limitTo:8 " class="form-control">
                    </div>
                    <i ng-show="loadingRights" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <div ng-show="noResultsRights">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                    <span style="width:100px">Selected: </span>
                    <span ng-repeat="f in rightsItems">
                        <span style="cursor:pointer" ng-click="removeRights(f)"> {{'<' + f.first_name + ' ' + f.last_name + '>X'}}</span>
                    </span>

                    <hr>

                </div>

                <div style="margin-top:10px"></div>
                <button style="margin-left:3px" type="button" class="custom-button" ng-click="showAdvanced==true? showAdvanced=false : showAdvanced=true">
                    {{showAdvanced==true? 'Show advanced' : 'Hide advanced'}}
                </button>

                <br>
                <br>
            </div>
    </div>

</div>
<div class="modal-footer">
    <div style="color:red" ng-show="hasError">{{errorMessage}}</div>
    <div style="color:green" ng-show="hasSuccess">{{successMessage}}</div>
    <button ng-show="!isSaving && !hasSuccess" class="custom-button" type="button" ng-click="save()">Save</button>
    <button ng-show="isSaving" class="custom-button" type="button">
        <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
    </button>
    <button class="custom-button" type="button" ng-click="close()">Close</button>
</div>