<div>
	<div id="logo-2-current-user-2">
		<div id="logo-2" style="margin-top: 10px" class="custom-button-logo-2"><b>dueeng</b></div>
		
		<div style="text-overflow:ellipsis; overflow: hidden; width:160px" id="current-user-2" class="custom-button-logo-2" ng-id='currentUser'> <b >{{currentUser.username}}</b></div>
		<hr>
	</div>
	<div>
		<b>Profile:</b><br>
		<div style="text-overflow:ellipsis; overflow: hidden; width:160px"><b>{{seeingUser.first_name}} {{seeingUser.last_name}}</b></div>
	</div>

	<div ng-show="seeingUser._id != currentUser._id">
		<hr>
		<div style="white-space: nowrap; color:red" ng-show="seeingUser.hasFriendError">{{seeingUser.friendErrorMessage}}</div>
		<div style="white-space: nowrap; color:red" ng-show="seeingUser.hasWatchError">{{seeingUser.watchErrorMessage}}</div>
		
		<div style="white-space: nowrap; width:100%; margin-bottom: 7px;" >
			<span> {{getFriendshipStatus(seeingUser)}}</span><br>
			<a ng-show="!(seeingUser.loadingF)"style="cursor:pointer;" ng-click="addFriendship(seeingUser)"> {{getFriendship(seeingUser)}} </a>
			<div ng-show="seeingUser.loadingF"><img src="images/loader.gif" alt="Loading"></div>
		</div>
		<div style="white-space: nowrap; width:100%">
			<span> {{getWatchingStatus(seeingUser)}}</span><br>
			<a ng-show="!(seeingUser.loadingW)" style="cursor:pointer;" ng-click="addWatching(seeingUser)"> {{getWatching(seeingUser)}} </a>
			<div ng-show="seeingUser.loadingW"><img src="images/loader.gif" alt="Loading"></div>

		</div> 
		<hr>
	</div>




	<div class='menu-item-base'>
		<a class="{{currentState=='main.activities' ? 'bold' : ''}}" 
	    ng-click="goTo('activities')">- Activities</a>
	    <span ng-show="currentClick=='activities' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>

	<div class='menu-item-base'>
		<a class="{{currentState=='main.watching' ? 'bold' : ''}}" 
	    ng-click="goTo('watching')">- Watching</a>
	    <span ng-show="currentClick=='watching' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>

	<div class='menu-item-base'>
		<a class="{{currentState=='main.friends' ? 'bold' : ''}}" 
	    ng-click="goTo('friends')">- Friends</a>
	    <span ng-show="currentClick=='friends' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>

	<div class='menu-item-base'>
	    <a class="{{currentState=='main.about' ? 'bold' : ''}}" 
	    ng-click="goTo('about')">- About</a>
	    <span ng-show="currentClick=='about' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>


	<br><br><br><br>

	<div class="footer">
		dueeng &copy; {{currentYear}}
	</div>
</div>
