
<div class="modal-header">
    <span style="display: inline-block; width: 50%;">
        <p class="modal-title"><b>Activity</b></p>
    </span>
    <span style="display: inline-block; text-align:right; width: 48%; ">
        <span style="display: inline-block; text-align:right; ">
            <button class="btn btn-link" ng-click="close()">Close</button>
        </span>
    </span>
</div>
<div class="modal-body" style="margin-left:4px; margin-right:4px;">


    <div class='row grouping-padding'>
            <div  style="max-width: 350px; margin:0px auto;">

                <div style="margin-top:5px">What:</div>
                <input type="text" class="form-control" ng-model="what" placeholder="What is this about? (title)">

                <div style="margin-top:10px">How:</div>
                <textarea rows="7" style="width: 100%; resize:vertical" ng-model="how" placeholder="Describe the details"></textarea>

                 <div style="margin-top:5px">Done:
                <input type="checkbox" ng-model="isDone">
                </div>

                <div style="margin-top:10px;">
                    <div style="display: inline-block;">Who will see:</div>
                    <select style="width:150px; display: inline-block;" class="form-control" ng-model="seeSelectOption" ng-options="f for f in seeSelectOptions"><option value="" ng-if="false"></option></select>
                </div>
                <br>
                <br>
            </div>
    </div>

</div>
<div class="modal-footer">
    <div style="color:red" ng-show="hasError">{{errorMessage}}</div>
    <div style="color:green" ng-show="hasSuccess">{{successMessage}}</div>
    <button ng-show="!isSaving" class="custom-button" type="button" ng-click="save()">{{isCreate == true ? 'Create' : 'Save'}}</button>
    <button ng-show="isSaving" class="custom-button" type="button">
        <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
    </button>
    <button class="custom-button" type="button" ng-click="close()">Close</button>
</div>