<div>
	<div class='menu-item-base' id="logo-2-current-user-2">
		<div id="logo-2" style="margin-top: 10px" class="custom-button-logo-2"><b>dueeng</b></div>
		<br>
		<div id="current-user-2" class="custom-button-logo-3"  ng-id='currentUser'> <b ng-click="goToMyProfile()" style="text-overflow:ellipsis; overflow: hidden; width:160px; cursor:pointer;">{{currentUser.username}}</b></div>
		<hr>
	</div>
	<div class='menu-item-base'>
		<b style="color:#FD971F;">Profile:</b><br>
		<div style="text-overflow:ellipsis; overflow: hidden; width:160px"><b>{{seeingUser.first_name}} {{seeingUser.last_name}}</b></div>
	</div>

	<div class='menu-item-base' ng-show="currentUser && seeingUser._id != currentUser._id">
		<br>
		<div style="white-space: nowrap; color:red" ng-show="seeingUser.hasFriendError">{{seeingUser.friendErrorMessage}}</div>
		
		<div style="white-space: nowrap; width:100%; margin-bottom: 7px;" >
			<span> {{getFriendshipStatus(seeingUser)}}</span><br>
			<a ng-show="!(seeingUser.loadingF)" style="cursor:pointer;" ng-click="addFriendship(seeingUser)"> {{getFriendship(seeingUser)}} </a>
			<div ng-show="seeingUser.loadingF"><img src="images/loader.gif" alt="Loading"></div>
		</div>
		
	</div>


	<br>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.activities' ? 'bold' : ''}}" 
	    ng-click="goTo('activities')">Activities</a>
	    <span ng-show="currentClick=='activities' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.friends' ? 'bold' : ''}}" 
	    ng-click="goTo('friends')">Friends</a>
	    <span ng-show="currentClick=='friends' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>

	<div class='menu-item-base'>
	    <a style="cursor:pointer;" class="{{currentState=='main.about' ? 'bold' : ''}}" 
	    ng-click="goTo('about')">About</a>
	    <span ng-show="currentClick=='about' && !appLoaded" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
	</div>

	<br><hr>

	<div class='menu-item-base'>
	    <a style="cursor:pointer;" ng-click="createEditActivity(true, null)">Add activity</a>
	</div>

	<div class='menu-item-base'>
	    <a style="cursor:pointer;" ng-click="goHome()">Go home</a>
	</div>

	<br><br><br><br>

	<div class="footer">
		dueeng &copy; {{currentYear}}
	</div>
</div>
