<div ng-repeat="a in searchedActivities">
    <ng-include src="'user/profile/reuse/basic_activity.html'" ng-controller="BasicActivityCtrl"></ng-include>
</div>

<div class='row grouping-padding text-center' >
    <div ng-show="noActivities">No activities yet...</div>
	<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
	<div ng-show="loading"><img src="images/loader.gif" alt="Loading"></div>
	<button ng-show="loadMore" class="custom-button" ng-click="loadMoreActivities()">Load more</button>
</div>