<form>
	<div class="input-group">
		<input type="text" ng-model="keywords" class="form-control" placeholder="Search...">
		<span class="input-group-btn"><button type="submit" class="btn" ng-click="search(keywords)"><span class="glyphicon glyphicon-search"></span></button></span>
	</div>
</form>

<br>

<hr>

<div ng-repeat="f in searchedFriends">
	<div style="word-wrap:break-word;width:100%" >
		<a style="cursor:pointer" ng-click="openFriend(f)"><span> {{f.first_name}}</span> <span>{{f.last_name}}</span> <span>- {{f.username}}</span></a>
	</div>
	<div style="color:red" ng-show="f.hasFriendError">{{f.friendErrorMessage}}</div>
	<div ng-show="f._id != currentUser._id" style="width:100%; text-align:center; margin-top:10px;">
		<div style="white-space: nowrap; width:100%" >
			<span style="display: inline-block;text-align:center; color:#7A2525">{{getFriendshipStatus(f)}}</span>
		</div>
		<div style="white-space: nowrap; width:100%">
			<div ng-show="!(f.loadingF)" style="display: inline-block; text-align:center; " >

				<div ng-show="getFriendship(f) != 'unfriend'">
					<a ng-click="addFriendship(f)" style="cursor:pointer;">{{getFriendship(f)}}</a>
				</div>

				<div ng-show="getFriendship(f) == 'unfriend'">
					<a ng-show="!areYouSure" style="cursor:pointer; " ng-click="areYouSure=true"> {{getFriendship(f)}} </a>
		            <span ng-show="areYouSure" ng-click="deleteActivity(a)"> Are you sure? &nbsp;</span>
		            <a ng-show="areYouSure" style="cursor:pointer" ng-click="areYouSure=false">cancel</a>
		            <a ng-show="areYouSure" style="cursor:pointer; margin-left: 10px" ng-click="addFriendship(f)"> {{getFriendship(f)}} </a>
	            </div>
            </div>

			<div ng-show="f.loadingF" style="display: inline-block; text-align:center; width:50%"><img src="images/loader.gif" alt="Loading"></div>
		</div> 

		
	</div>
	<div ng-show="f._id != currentUser._id" style="width:100%; text-align:center; margin-top:10px;">
		<div style="white-space: nowrap; width:100%">
			<div style="display: inline-block; text-align:center; width:50%" >
				<a style="white-space: nowrap; cursor:pointer; font-weight: {{isWatched(f) ? 'normal' : 'bold'}};" ng-click="addWatch(f)"> {{isWatched(f) ? 'unwatch' : 'watch'}}</a>
			</div>
		</div>
	</div>
	<hr>
</div>



<div class='row grouping-padding text-center' >
	<div ng-show="noFriends">Nothing to show...</div>
	<div ng-show="noResults">Nothing found...</div>
	<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
	<div ng-show="loading"><img src="images/loader.gif" alt="Loading"></div>
	<button ng-show="loadMore" class="custom-button" ng-click="loadMoreFriends()">Load more</button>
	<button ng-show="scrollbarIsActive" class="custom-button right-alignment">Up <span class="glyphicon glyphicon-arrow-up"></span></button>
</div>

<br>