<div>
    <div style="margin-top:8px; overflow: hidden;">
        <div style="display: inline-block; width: 88%;"> <b>{{a.owner.first_name}} {{a.owner.last_name}}:</b></div>
    </div>
    <div style="margin-top:18px;"> </div>
    <i><p style="max-width: 400px; display:inline; word-wrap: break-word;">{{a.what}}</p></i>
    <div style="margin-top:15px;"> </div>
    <p style="max-width: 400px; display:inline; word-wrap: break-word;" ng-repeat="s in (a.how).split('\n') track by $index">
        {{s}} </br>
    </p>
    <div style="margin-top:18px;"> </div>

        <div style="margin-top:8px; overflow: hidden;">
        <div style="display: inline-block; width: 100%;"> <span style="width:60px;">status:</span><b style="color:#{{a.isDone? '75715E' : '202F7D'}}"> {{a.isDone ? 'Done' : 'In progress'}}</b></div>
        
    </div>

    <div style="margin-top:8px; overflow: hidden;">
        <div style="display: inline-block; width: 100%;"> <span style="width:60px;">visibility:</span><b style="color:#2D5996"> {{a.visibility}}</b></div>
        
    </div>

    <div ng-show="a.lastModified != a.dateCreated" style="margin-top:8px; overflow: hidden;">
        <div style="display: inline-block; width: 100%;"> <span style="width:60px;">modified:</span> <b style="color:#143a33;"><span am-time-ago="a.lastModified"></span></b></div>
    </div>

    <div style="margin-top:8px; overflow: hidden;">
        <div style="display: inline-block; width: 100%;"> <span style="width:60px;">created:</span><b style="color:#143a33;"> <span am-time-ago="a.dateCreated"></span></b></div>
        
    </div>

    <div style="overflow: hidden; margin-top:8px;">
        <a style="display: inline-block; white-space: nowrap; float:left; cursor:pointer; font-weight: {{!a.isDone? (existsIn(currentUser._id, a.goodLuckIds) ? 'normal' : 'bold') : (existsIn(currentUser._id, a.congratsIds) ? 'normal' : 'bold')}};" ng-click="!a.isDone ? goodLuck(a) : congrats(a)"> {{!a.isDone ? (existsIn(currentUser._id, a.goodLuckIds) ? 'unwish' : 'good luck') : (existsIn(currentUser._id, a.congratsIds) ? 'unwish' : 'congrats')}}</a>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; color:#c63c09; font-weight:bold;"> &nbsp;&nbsp; {{a.goodLuckIds && a.goodLuckIds.length != 0 ? (a.goodLuckIds.length + ' good luck' + (a.goodLuckIds.length > 1 ? 's' : '')) : '' }} </span> 
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; color:#236b05; font-weight:bold;">&nbsp;&nbsp; {{a.congratsIds && a.congratsIds.length != 0 ? (a.congratsIds.length + ' congrats') : '' }} </span>
    </div>
    <div style="overflow: hidden; margin-top:8px;">
        <a style="display: inline-block; white-space: nowrap; float:left; cursor:pointer; font-weight: {{existsIn(currentUser._id, a.watchIds) ? 'normal' : 'bold'}};" ng-click="watch(a)"> {{existsIn(currentUser._id, a.watchIds) ? 'unwatch' : 'watch'}}</a>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; color:#c63c09; font-weight:bold;"> &nbsp;&nbsp; {{a.goodLuckIds && a.watchIds.length != 0 ? (a.watchIds.length + ' watching' + (a.watchIds.length > 1 ? 's' : '')) : '' }}</span>
    </div>

    <div ng-show="currentUser._id == a.owner._id" style="margin-top:8px; overflow: hidden; height: 20px">
        <div style="display: inline-block; width: 25%;"> <a style="cursor:pointer" ng-click="createEditActivity(false, a)"> edit </a></div>
        <div ng-show="!a.isDeleting" style="display: inline-block; float: right; "> 
            <a ng-show="!areYouSure" style="cursor:pointer; " ng-click="areYouSure=true"> delete </a>
            <span ng-show="areYouSure" ng-click="deleteActivity(a)"> Are you sure? &nbsp;</span>
            <a ng-show="areYouSure" style="cursor:pointer" ng-click="deleteActivity(a)"> delete </a> &nbsp;
            <a ng-show="areYouSure" style="cursor:pointer" ng-click="areYouSure=false"> cancel </a>

        </div>

        <div style="display: inline-block; float: right;" ng-show="a.isDeleting" class="custom-button" type="button">
            <img src="images/loader.gif" alt="Loading" />
        </div>
    </div>
    <div style="color:red" ng-show="a.errorMessage">{{a.errorMessage}}</div>

    <hr>


</div>