<div>
    <div style="margin-top:8px; overflow: hidden;">
        <div style="display: inline-block; width: 88%;"> <b>Florin Popescu:</b></div>
        <div style="display: inline-block; float: right;">edit</div>
    </div>
    <div style="margin-top:8px;"> This is a title hahaha bdasd sadasds labla blba bla lba</div>
    <div style="overflow: hidden; margin-top:8px;">
        <span style="display: inline-block; white-space: nowrap; float:left;"> <b>start:</b> 2 days ago</span>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; "> &nbsp;-&nbsp;<b> stop:</b> In 5 months</span>
        <span style="display: inline-block; white-space: nowrap; float:left;"> &nbsp;-&nbsp;<b>status:</b> Done</span>
    </div>

    <div style='margin-top:8px; width: 100%; background-color: #ffffff; border: 0px ; border-radius: 0px; font-size: 14px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium magna eget scelerisque suscipit. Nullam vehicula porta consectetur. Integer eu ornare purus. Quisque at odio eget magna suscipit faucibus. Phasellus molestie urna id sem volutpat suscipit. Nulla pharetra ex odio, sit amet cursus metus scelerisque quis. Fusce condimentum purus id ligula tristique, sed sagittis leo viverra. Phasellus fringilla leo non pretium porta. Nulla pretium enim metus, vel rutrum lacus commodo ac. Integer non massa dui. Cras velit augue, placerat nec euismod eu, rhoncus vitae lectus. Vestibulum a orci sapien.</div>
    <div style="margin-top:8px;"> <b>visibility:</b> Public</div>
    <div style="overflow: hidden; margin-top:8px;">
        <span style="display: inline-block; white-space: nowrap; float:left;"> <b>invited people</b></span>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; "> &nbsp;-&nbsp;<b> pending people</b></span>
        <span style="display: inline-block; white-space: nowrap; float:left;"> &nbsp;-&nbsp;<b>rights</b></span>
    </div>

    <div style="overflow: hidden; margin-top:8px;">
        <span style="display: inline-block; white-space: nowrap; float:left;"> <b>join</b></span>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; "> &nbsp;-&nbsp; 20 people joined</span>
    </div>

    <div style="overflow: hidden; margin-top:8px;">
        <span style="display: inline-block; white-space: nowrap; float:left;"> <b>good luck</b></span>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; "> &nbsp;-&nbsp; 50 people wished good luck</span>
    </div>

    <div style="overflow: hidden; margin-top:8px;">
        <span style="display: inline-block; white-space: nowrap; float:left;"> <b>congrats</b></span>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; "> &nbsp;-&nbsp; 10 congratulations</span>
    </div>

    <div style="overflow: hidden; margin-top:8px;">
        <span style="display: inline-block; white-space: nowrap; float:left;"> <b>comment</b></span>
        <span style="display: inline-block; white-space: nowrap; float:left; position: relative; "> &nbsp;-&nbsp; 10 comments</span>
    </div>

    <hr>


</div>