<div  style="max-width: 350px; margin:0px auto;">

    <div ng-show="showFilters==false">
        <span style="display: inline-block; width: 50%;">Filters:</span> 

        <span style="display: inline-block; text-align:right; width: 48%; ">
            <span tabindex="0" popover-trigger="focus" popover-placement="left" 

        	popover-template="'watchFiltersHelp'"


        	style="display: inline-block; text-align:right; font-size: 20px;" class="glyphicon glyphicon-question-sign"></span>
        </span>

        

        <div>
            <select style="display: inline-block;" class="form-control" ng-model="filterSelectOption" ng-options="f for f in filterSelectOptions"><option value="" ng-if="false"></option></select>
        </div>

        <div style="margin-top:5px">From:</div>
        <div>
            <select style="width:100px; display: inline-block;" class="form-control" ng-model="fromSelectOption" ng-options="f for f in fromSelectOptions"><option value="" ng-if="false"></option></select>
            <div ng-show="fromSelectOption == 'Date'" class="my-datepicker" style="width:150px; display: inline-block; position: relative; left: auto !important; right: 0px;">
                <input style="width:110px; display: inline-block;" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.openedDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-disabled="true" ng-required="true" close-text="Close" />
                <button style="display: inline-block; margin-left:3px" type="button" class="custom-button" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
        </div>

        <div style="margin-top:5px">To:</div>
        <div>
            <select style="display: inline-block;" class="form-control" ng-model="toSelectOption" ng-options="f for f in toSelectOptions"><option value="" ng-if="false"></option></select>
        </div>

        <hr>
        <div style="margin-top:10px;">
            <div style="display: inline-block;">Who:</div>
            <select style="width:150px; display: inline-block;" class="form-control" ng-model="seeSelectOption" ng-options="f for f in seeSelectOptions"><option value="" ng-if="false"></option></select>
        </div>

        <div ng-show="seeSelectOption=='Select friends'">
            <div style="position: relative; left: 0 !important;">
                <input type="text" typeahead-loading="loadingWhoWillSee" typeahead-no-results="noResultsWhoWillSee" typeahead-on-select="onSelectWhoWillSee($item, $model, $label)" ng-model="whoWillSee" placeholder="Search name or username" typeahead="n as n.first_name + ' ' + n.last_name for n in getWhoWillSee($viewValue) | limitTo:8 " class="form-control">
            </div>
            <i ng-show="loadingWhoWillSee" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
            <div ng-show="noResultsWhoWillSee">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>

            <span style="width:100px">Selected: </span>
            <span ng-repeat="f in whoWillSeeItems">
                <span style="cursor:pointer" ng-click="removeWhoWillSee(f)"> {{'<' + f.first_name + ' ' + f.last_name + '>X'}}</span>
            </span>
        </div>

        <div style="margin-top:10px">
            <button style="margin-left:3px" type="button" class="custom-button" ng-click="showAdvanced==true? showAdvanced=false : showAdvanced=true">
                Go
            </button>
        </div>

        <hr>
    </div>

    <button style="margin-left:3px" type="button" class="custom-button" ng-click="showFilters==true ? showFilters=false : showFilters=true">
        {{showFilters==true? 'Show filters' : 'Hide filters'}}
    </button>



    <hr>

    <br>
    <br>
</div>