<form>
	<div class="input-group">
		<input type="text" ng-model="keywords" class="form-control" placeholder="Search...">
		<span class="input-group-btn"><button type="submit" class="btn" ng-click="search(keywords)"><span class="glyphicon glyphicon-search"></span></button></span>
	</div>
</form>

<br>

<hr>

<div ng-repeat="f in searchedFriends">
	<div style="word-wrap:break-word;width:100%" >
		<a style="cursor:pointer" ng-click="openFriend(f)"><span> {{f.first_name}}</span> <span>{{f.last_name}}</span> <span>- {{f.username}}</span></a>
	</div>
	<div style="color:red" ng-show="f.hasFriendError">{{f.friendErrorMessage}}</div>
	<div style="color:red" ng-show="f.hasWatchError">{{f.watchErrorMessage}}</div>
	<div ng-show="f._id != currentUser._id" style="width:100%; text-align:center; margin-top:10px;">
		<div style="white-space: nowrap; width:100%" >
			<span style="display: inline-block;text-align:right; width:50%">{{getFriendshipStatus(f)}}</span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
			<span style="display: inline-block;text-align:left; width:45%">{{getWatchingStatus(f)}}</span>
		</div>
		<div style="white-space: nowrap; width:100%">
			<a ng-show="!(f.loadingF)" style="display: inline-block; cursor:pointer; text-align:right; width:50%" ng-click="addFriendship(f)">{{getFriendship(f)}}</a>
			<div ng-show="f.loadingF" style="display: inline-block; text-align:right; width:50%"><img src="images/loader.gif" alt="Loading"></div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
			<a ng-show="!(f.loadingW)" style="display: inline-block; cursor:pointer; text-align:left; width:45%" ng-click="addWatching(f)">{{getWatching(f)}}</a>
			<div ng-show="f.loadingW" style="display: inline-block; text-align:left; width:45%"><img src="images/loader.gif" alt="Loading"></div>
		</div> 

		
	</div>
	<hr>
</div>



<div class='row grouping-padding text-center' >
	<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
	<div ng-show="loading"><img src="images/loader.gif" alt="Loading"></div>
	<button ng-show="loadMore" class="custom-button" ng-click="loadMoreFriends()">Load more</button>
	<button ng-show="scrollbarIsActive" class="custom-button right-alignment">Up <span class="glyphicon glyphicon-arrow-up"></span></button>
</div>

<br>