<div ng-repeat="a in activities">
    <ng-include src="'user/profile/reuse/basic_activity.html'" ng-controller="BasicActivityCtrl"></ng-include>
</div>

<div class='row grouping-padding text-center' >
	<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
	<div ng-show="loading"><img src="images/loader.gif" alt="Loading"></div>
	<button ng-show="loadMore" class="custom-button" ng-click="loadMoreActivities()">Load more</button>
	<button ng-show="scrollbarIsActive" class="custom-button right-alignment">Up <span class="glyphicon glyphicon-arrow-up"></span></button>
</div>