<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b style="color:#202F7D;">Activities</b> <b ng-show="isMobile"> - {{seeingUser.first_name}} {{seeingUser.last_name}}</b>
			</div>
	</div>

	<br>
	<hr>

     <ng-include src="'user/profile/reuse/basic_activities.html'" ng-controller="BasicActivitiesCtrl"></ng-include>

	<br>
</div>