<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;"><b ng-show="isMobile">{{seeingUser.first_name}} {{seeingUser.last_name}}</b> </div>
			<div style="margin-left: 20px;">
				<b style="color:#202F7D;">Friends</b>  <span  style="margin-right: 20px; float:right"> <a style="cursor:pointer" ng-click="goToFindPeople();">Search new people</a></span>
			</div>
	</div>

	<br>

	<ng-include src="'user/profile/reuse/basic_friends.html'" ng-controller="BasicFriendsCtrl"></ng-include>

</div>