
<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b style="color:#202F7D;">Help</b>
			</div>
	</div>

	<div style="margin-top: 15px;"><b> The activities are sorted by last modification date. </b> </div>
	<div style="margin-top: 15px;"><b> If you change an activity visibility from 'Public'/'All Friends' to 'Private' and you have watchers, the watchers can still view your activity </b> </div>
	

</div>