
<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b style="color:#202F7D;">Terms</b>
			</div>
	</div>

	<div style="margin-top: 15px;"> The user content(posts, information) belongs to the user. </div>
	

</div>