<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b>About</b> <b ng-show="isMobile"> - {{currentUser.first_name}} {{currentUser.first_name}}</b>
			</div>
	</div>

	<div class='row grouping-padding' >
			
			<div style="margin-left: 20px; margin-right: 20px;">
				<div style="overflow:hidden; margin-bottom: 7px; width: 100%;">
					<textarea rows="4"  ng-show="isEditing" style="width: 100%; resize:none" ng-model="about">{{about}}</textarea>

					<span ng-show="!isEditing" style='width: 100%; background-color: #ffffff; border: 0px ; border-radius: 0px; font-size: 14px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif'>{{ seeingUser._id == currentUser._id ? (about || 'Type something about you like your social networks contacts.') : (about || 'Nothing to say...') }}</span>

					<div align="left">
		  				<button style="margin-right: 10px" ng-show="!isEditing && seeingUser._id == currentUser._id" ng-click="edit()" class="custom-button">
						    <span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button ng-show="isEditing && !isLoading" ng-click="save()" class="custom-button">
						    <span class="glyphicon glyphicon-ok"></span>
						</button>
						<button style="margin-right: 10px; margin-left:10px" ng-show="isEditing && !isLoading" ng-click="cancel()" class="custom-button">
						    <span class="glyphicon glyphicon-remove"></span>
						</button>
						<span style="margin-left: 20px;" ng-show="isEditing && isLoading" ><img src="images/loader.gif" alt="Loading"></span>
					</div>
					<div ng-show="isError" style="color:red">Please try again or hit refresh!</div>
  				</div>
			</div>
	</div>

</div>