<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b>Friends</b> <b ng-show="isMobile"> - {{currentUser.first_name}} {{currentUser.first_name}}</b> <span  style="margin-right: 20px; float:right"> <a style="cursor:pointer" ng-click="goToFindPeople();">Search for new friends</a></span>
			</div>
	</div>

	<br>

	<ng-include src="'user/profile/reuse/basic_friends.html'" ng-controller="BasicFriendsCtrl"></ng-include>

</div>