<div class="container welcome-max-width">

	<div class='row grouping-padding'>
			<div>
				<b>Settings</b>
			</div>
	</div>

	<div class='row grouping-padding'>
			<div>
				Change password:
			</div>
	</div>

	<div class='row grouping-padding' >
			<div class="text-center">
				<div >
					<form ng-submit="changePassword(old_password, new_password, re_new_password)" novalidate>

					<input type="password" class="form-control" ng-model="old_password" placeholder="Type old password" required>
						<input type="password" class="form-control" ng-model="new_password" placeholder="Type new password" required>
						<input type="password" class="form-control" ng-model="re_new_password" placeholder="Retype new password" required>
						<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
						<div style="color:green" ng-show="hasSuccess">{{successMessage}}</div>
						<br>
						<input ng-show="!loading" type="submit" class="custom-button" value="Reset Password">
						<button ng-show="loading" ng-disabled="loading" type="submit" class="custom-button">
							<img src="images/loader.gif" alt="Loading">
						</button> 
					</form>
				</div>
			</div>
	</div>

	<hr>

	<div class='row grouping-padding'>
			<div>
				Update account info:
			</div>
	</div>

	<div class='row grouping-padding' >
			<div class="text-center">
				<div >
					<form ng-submit="updateAccountInfo(username, first_name, last_name)" novalidate>

						<input type="text" class="form-control" ng-model="username" placeholder="Username" required>
						<input type="text" class="form-control" ng-model="first_name" placeholder="First name" required>
						<input type="text" class="form-control" ng-model="last_name" placeholder="Last Name" required>
						<div style="color:red" ng-show="hasAccountError">{{accountErrorMessage}}</div>
						<div style="color:green" ng-show="hasAccountSuccess">{{accountSuccessMessage}}</div>
						<br>
						<input ng-show="!loadingAccount" type="submit" class="custom-button" value="Update account">
						<button ng-show="loadingAccount" ng-disabled="loadingAccount" type="submit" class="custom-button">
							<img src="images/loader.gif" alt="Loading">
						</button> 
					</form>
				</div>
			</div>
	</div>
	<br>
	<br>
</div>