<div class ="base" ng-controller="ActionsCtrl">

	<div class="nav-bar"> 
		<div id="left-button" class="left-button"><button onclick="leftButtonClickHandler();" > show </button></div>
			<a ui-sref="/">Actions</a>
			<a ui-sref="signup">Signup</a>
			<a ui-sref="login">Login</a>

			<a> Signed as: </a>
			<a ng-id='currentUser'> {{currentUser.username}} </a>

			<button ng-click="logout()">Logout</button>
	</div>


	<div class="panels">
		
		<div id="cell1" class="panel-cell1">
			<div class="panel-1"> 
				panel 1 text

				<div class="footer">
					footer @ text
				</div>
			</div>
		</div>

		<div id="cell2" class="panel-cell2">
			<div class="panel-2"> 
				
			<div class="container">

					<h1> Recent Actions </h1>
					

					<form role='form'>
						<div class='form-group'>
							<div class='input-group'>
								<input ng-model='actionBody' class='form-control'/>
								<span>
								<button ng-click='addAction()'>Add Action</button>
								</span>
							</div>
						</div>
					</form>

					<ul class="list-group">
						<li ng-repeat="action in actions | orderBy:'-date'" class='list-group-item'>
							<strong>{{ action.username }}</strong>
							<span>{{ action.body }}<span>
						</li>
					</ul>
			</div>


			</div>
		</div>
	</div>

</div>

