<div class="container welcome-max-width">

		<div class="row grouping-padding">
			<div class="col-md-12 text-center"><p>dueeng<p></div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">INFO_DETAILS</div>
		</div>

		

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="login">Go to login page</a>
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="signup">Create new account</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>