<div class="container welcome-max-width">

		<div class="row grouping-padding">
			<div class="col-md-12 text-center"><p>dueeng<p></div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">SHORT_DESCRIPTION</div>
		</div>

		<div class='row grouping-padding' >
			<div class="col-md-12 text-center">
				<div >
				<form ng-submit="login(username, password, checkbox)" novalidate>
					<input type="text" class="form-control" ng-model="username" placeholder="Email or Username" required>


					<input type="password" class="form-control" ng-model="password" placeholder="Password" required>
					<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
					<div class="checkbox">
						<label>
						  <input type="checkbox" ng-model="checkbox"> Keep me logged in
						</label>
					</div>
					<button ng-show="!loading" type="submit" class="btn btn-default">
						Login
					</button>

					<button ng-show="loading" ng-disabled="loading" type="submit" class="btn btn-default">
						<img src="images/loader.gif" alt="Loading">
					</button>
					
				</form>
				</div>
				
				
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="signup">Create new account</a>
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="forgotPassword">Forgot password</a>
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="contact">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="btn-link" ui-sref="info">Info</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>