<div class="container welcome-max-width">

		<br>
		<div class="row grouping-padding">
			<div class="col-md-12 text-center custom-logo"><b>dueeng</b></div>
		</div>

		<div class='row grouping-padding' >
			<div class="col-md-12 text-center">
				<div >
				<form ng-submit="resetPassword(email)" novalidate>
					<input type="email" class="form-control" ng-model="email" placeholder="Email" required>

					<br>
					<input type="submit" class="btn btn-default" value="Send reset link">   
				</form>
				</div>
				
				
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="login">Go to login page</a>
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="contact">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="btn-link" ui-sref="info">Info</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>