<div class="container welcome-max-width">
		<br>
		<div class="row grouping-padding">
			<div class="col-md-12 text-center custom-logo"><b>dueeng</b></div>
		</div>

		<div class='row grouping-padding'>
			<div style="color:#2D5996" class="col-md-12 text-center"> <b>A place of people's activities where you get in sync with each other: </b></div>
		</div>
		<div class='row grouping-padding'>
			<div class="col-md-12 text-center"> 
				<b>See info and details about the current or future activities of friends and people. Activities can include hobbies, working, free time, learning or anything related to what people do.</b>

			</div>
		</div>

		<div class='row grouping-padding'>
			<div style="color:#2D5996" class="col-md-12 text-center"> 
				<div>
				<p>dueeng.com app is in a continous process and something new will be added every 1-2 weeks.</p>
				<p><b>Currently you can:</b></p>
					<p style="color:#1d8c00"><b>- Add your activities. Your profile is like a picture of what you do.</b></p>
					<p style="color:#1d8c00"><b>- Have privacy control. Activities can be visible to public, to watchers, to friends or can be private.</b></p>
					<p style="color:#1d8c00"><b>- See the activities of friends and other people.</b></p>
					<p style="color:#1d8c00"><b>- Wish good luck / congrats to activities.</b></p>
					<p style="color:#1d8c00"><b>- Watch activities to get notified when an activity is done or is modified.</b></p>
					<p style="color:#1d8c00"><b>- Watch friends to get notified for every adding/editing activity.</b></p>
					<p style="color:#1d8c00"><b>- Activities can be 'in progress' or 'done'.</b></p>
				</div>
			</div>
		</div>
		

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="login">Go to login page</a>
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="signup">Create new account</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>