<div class="container welcome-max-width">
		<br>
		<div class="row grouping-padding">
			<div class="col-md-12 text-center custom-logo"><b>dueeng</b></div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center"></div>
		</div>

		<div class='row grouping-padding' >
			<div class="col-md-12 text-center">
				<div >
				<form ng-submit="resetPassword(password)" novalidate>
					<input type="password" class="form-control" ng-model="email" placeholder="New password" required>
					<input type="password" class="form-control" ng-model="email" placeholder="Retype new password" required>

					<br>
					<input type="submit" class="btn btn-default" value="Reset password">   
				</form>
				</div>
				
				
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="login">Go to login page</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>