<div class="container welcome-max-width">
		<br>
		<div class="row grouping-padding">
			<div class="col-md-12 text-center custom-logo"><b>dueeng</b></div>
		</div>

		<div class='row grouping-padding'>
			<div style="color:green" class="col-md-12 text-center">Success! You can new log in. </div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="login">Go to login page</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>