<div class="container welcome-max-width">
		<br>
		<div class="row grouping-padding">
			<div class="col-md-12 text-center custom-logo"><b>dueeng</b></div>
		</div>

		<div class='row grouping-padding'>
			<div style="color:#2D5996" class="col-md-12 text-center"> <b>A place of people's activities where you get in sync with each other: </b></div>
		</div>
		<div class='row grouping-padding'>
			<div class="col-md-12 text-center"> 
				<b>See info and details about the current or future activities of friends and people. Activities can include hobbies, working, free time, learning or anything related to what people do.</b>

			</div>
		</div>

		<div class='row grouping-padding' >
			<div class="col-md-12 text-center">
				<div >
				<form name="form" ng-submit="signup(email, username, password, firstName, lastName)" novalidate>
					<input type="text" class="form-control" ng-model="email" placeholder="Email">

					<input type="text" class="form-control" ng-model="username" placeholder="Username">

					<input type="password" class="form-control" ng-model="password" placeholder="Password">

					<input type="text" class="form-control" ng-model="firstName" placeholder="First Name">

					<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name">

  					<div style="color:red" ng-show="hasError">{{errorMessage}}</div>
					
						<label>
						  <h6>By clicking Sign up, you agree to our <a ui-sref="terms" target="_blank">Terms</a></h6>
						</label>

					<input ng-show="!loading" type="submit" class="btn btn-default" value="Sign up">   
					<button ng-show="loading" ng-disabled="loading" type="submit" class="btn btn-default">
						<img src="images/loader.gif" alt="Loading">
					</button>
					
					
				</form>
				</div>
				
				
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="login">Go to login page</a>
			</div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">
				<a class="btn-link" ui-sref="contact">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="btn-link" ui-sref="info">Info</a>
			</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>


