<div class="container welcome-max-width">
		<br>
		<div class="row grouping-padding">
			<div class="col-md-12 text-center custom-logo"><b>dueeng</b></div>
		</div>

		<div class='row grouping-padding'>
			<div class="col-md-12 text-center">The user content(posts, information) belongs to the user.</div>
		</div>

		</br>

		<div class='row'>
			<div class="col-md-12 text-center">
			dueeng &copy; {{currentYear}}
			</div>
		</div>	
			
</div>