<div class ="base">

	<div class="header-color"></div>

	<div id="nav-bar" class="nav-bar"> 
		<div ui-view="header"></div>
	</div>

	<div ng-controller="creteEditActivityCtrl"> </div>
	<div class="panels">
		
		<div id="cell1" class="panel-cell1">
			<div class="panel-1"> 
				<div ui-view="menu"></div>
			</div>
		</div>

		<div id="cell2" class="panel-cell2">
			<div id="panel2" class="panel-2"> 
				<div ui-view="content"></div>
			</div>
		</div>

	</div>

</div>

