<div>
	<div id="logo-2-current-user-2">
		<div id="logo-2" style="margin-top: 10px" class="custom-button-logo-2"><b>dueeng</b></div>
		
		<div id="current-user-2" class="custom-button-logo-2" ng-click="goToMyProfile()" ng-id='currentUser'> <b style="text-overflow:ellipsis; overflow: hidden; width:160px">{{currentUser.username}}</b></div>
		<hr>
	</div>

	<div>
		<b>Home:</b>
	</div>


	<div class='menu-item-base'>
		<a class="{{currentState=='main.watch' ? 'bold' : ''}}" 
	    ng-click="goTo('watchActivities')">- Watch activities</a>
	</div>

	<div class='menu-item-base'>
		<a class="{{currentState=='main.findPeople' ? 'bold' : ''}}"
	    ng-click="goTo('findPeople')">- Find People</a>
	</div>
	
	<div class='menu-item-base'>
		<a
	    ng-click="goTo('myProfile')">- My profile</a>
	</div>


	<br><br><br><br>

	<div class="footer">
		dueeng &copy; {{currentYear}}
	</div>
</div>
