<script type="text/ng-template" id="watchFiltersHelp">
        <p>dasdasdasddsds</p> <br/>
        <p> hahahahhaha</p>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
        <p>dasdasdasddsds</p> <br/>
</script>

<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b>Watch</b>
			</div>
	</div>

	<div class='row grouping-padding'>
        <ng-include src="'user/profile/reuse/basic_activities_filter.html'" ng-controller="BasicActivitiesFilterCtrl"></ng-include>
    </div>

    <hr>

     <ng-include src="'user/profile/reuse/basic_activities.html'" ng-controller="BasicActivitiesCtrl"></ng-include>

	<br>

</div>