<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b style="color:#202F7D;">Find new people</b>
			</div>
	</div>

	<br>

	<ng-include src="'user/profile/reuse/basic_friends.html'" ng-controller="BasicFriendsCtrl"></ng-include>

</div>