<div class="inner-header">
	<div id="left-button-div" class="left-alignment">
		<button id="left-button" onclick="leftButtonClickHandler();" class="custom-button-menu" >
			<b>Menu</b>-View
		</button>
		<button id="logo" class="custom-button-logo" ng-click="goHome()"><b>dueeng</b></button>
	</div>

		<div class="right-alignment" style="height: 27px;">
			<div class="btn-group">
			<div id="current-user" style="text-overflow:ellipsis; display:block; overflow: hidden; width:250px;"  ng-id='currentUser'> <b style="cursor:pointer; color:#75715E" ng-click="goToMyProfile()">{{currentUser.username}}</b></div>
			</div>

			<div class="btn-group">
			<button class="custom-button" ng-click="createEditActivity(true, null)">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			</div>

			<div class="btn-group">
				<button ng-click="reload()" ng-show="appLoaded" class="custom-button">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
				<button ng-show="!appLoaded" class="custom-button">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
				</button>
			</div>

			<div class="btn-group">
			<button ng-click="goHome()" class="custom-button">
				<span class="glyphicon glyphicon-home"></span>
			</button>
			</div>

			<div class="btn-group" dropdown is-open="status.isopen">
				<button id="single-button" type="button" class="custom-button" dropdown-toggle ng-disabled="disabled">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
				<ul class="dropdown-menu right-position" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ui-sref="main.settings">Settings</a></li>
					<li role="menuitem"><a ui-sref="main.help">Help</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a ui-sref="main.theInfo">Info</a></li>
					<li role="menuitem"><a ui-sref="main.theContact">Contact</a></li>
					<li role="menuitem"><a ui-sref="main.theTerms">Terms</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a ng-click="logout()" href="#">Logout</a></li>
				</ul>
			</div>
		</div>

</div>
