<div class="container containter-max-width">

	<div class='row grouping-padding'>
			<div style="margin-left: 20px;">
				<b style="color:#202F7D;">Activities from people that you watch</b>
			</div>
	</div>

	<br>

	<ng-include src="'user/profile/reuse/basic_activities.html'" ng-controller="BasicActivitiesCtrl"></ng-include>

</div>