<div>
	<div class='menu-item-base' id="logo-2-current-user-2">
		<div id="logo-2" style="margin-top: 10px" class="custom-button-logo-2"><b>dueeng</b></div>
		<br>
		<div id="current-user-2" class="custom-button-logo-3"  ng-id='currentUser'> <b ng-click="goToMyProfile()" style="text-overflow:ellipsis; overflow: hidden; width:160px; cursor:pointer;">{{currentUser.username}}</b></div>
		<hr>
	</div>

	<div class='menu-item-base'>
		<b style="color:#FD971F;">Home:</b>
	</div>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.watchedActivities' ? 'bold' : ''}}" ng-click="goTo('watchedActivities')">Watched activities</a>
	</div>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.lastActivities' ? 'bold' : ''}}" ng-click="goTo('lastActivities')">Last activities</a>
	</div>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.watchedPeople' ? 'bold' : ''}}" ng-click="goTo('watchedPeople')">Watched people</a>
	</div>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.friendRequests' ? 'bold' : ''}}" ng-click="goTo('friendRequests')">Friend requests</a>
	</div>

	<div class='menu-item-base'>
		<a style="cursor:pointer;" class="{{currentState=='main.findPeople' ? 'bold' : ''}}" ng-click="goTo('findPeople')">Find People</a>
	</div>
	<br>
	<hr>
	<div class='menu-item-base'>
		<a style="cursor:pointer;" ng-click="goTo('myProfile')">My profile</a>
	</div>

	

	<div class='menu-item-base'>
	    <a style="cursor:pointer;" ng-click="createEditActivity(true, null)">Add activity</a>
	</div>


	<br><br><br><br>

	<div class="footer">
		dueeng &copy; {{currentYear}}
	</div>
</div>
